{% extends 'index.html' %}
{% block title %}Detail ad{% endblock %}
{% block content %}
    <h1>{{ advertisement.title }}</h1>
    <p>{{ advertisement.text }}</p>
    <p>Категория: {{ advertisement.get_category_display }}</p>
    {% if advertisement.image %}
        <img src="{{ advertisement.image.url }}" alt="Изображение объявления" style="max-width: 50%; height: auto;">
    {% endif %}

    <!-- Ссылка на страницу отправки отклика -->
    <a href="{% url 'send_response' ad_id=advertisement.id %}">Оставить отклик</a>
{% endblock %}

