<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bulletin Board{% endblock %}</title>
    <style>
        /* Пример стилей для украшения навигационной панели */
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bulletin Board</h1>
        <!-- Верхняя часть страницы -->
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'create_ad' %}">Создать объявление</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Здесь будет основное содержимое страницы -->
        {% endblock %}

        <!-- Отображение объявлений на главной странице -->
        <section>
        <h2>Последние объявления</h2>
            <form method="GET" action="">
        <label for="filter">Отсортировать по:</label>
        <select name="category_filter" id="category_filter">
            <option value="">Все категории</option>
            <option value="Танки">Танки</option>
            <option value="Хилы">Хилы</option>
            <option value="ДД">ДД (Дамаг-дилеры)</option>
            <option value="Торговцы">Торговцы</option>
            <option value="Гилдмастеры">Гилдмастеры</option>
            <option value="Квестгиверы">Квестгиверы</option>
            <option value="Кузнецы">Кузнецы</option>
            <option value="Кожевники">Кожевники</option>
            <option value="Зельевары">Зельевары</option>
            <option value="Мастера заклинаний">Мастера заклинаний</option>
        </select>
        <button type="submit">Применить</button>
    </form>
        <ul>
            {% for advertisement in advertisements %}
                <li>
                    <h3>{{ advertisement.title }}</h3>
                    <p>{{ advertisement.text }}</p>
                    <p>Категория: {{ advertisement.get_category_display }}</p>
                    <a href="{% url 'ad_detail' ad_id=advertisement.id %}">Детали</a>
                    {% if advertisement.image %}
                        <img src="{{ advertisement.image.url }}" alt="Изображение объявления" style="max-width: 300px; height: auto;">
                    {% endif %}
                    {% if user.is_authenticated and advertisement.user == user %}
                        <a href="{% url 'edit_ad' ad_id=advertisement.id %}">Изменить</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </section>
    </main>

    <footer>
        <!-- Нижняя часть страницы -->
    </footer>
</body>
</html>
