{% extends 'index.html' %}

{% block title %}Responses{% endblock %}

{% block content %}
    <h1>Отклики</h1>

    <ul>
        {% for response in user_responses %}
            <li>
                <p>{{ response.text }}</p>
                <p>Объявления: {{ response.advertisement.title }}</p>
                <p>Отклик: {{ response.user.username }}</p>
                <p>Категория: {{ advertisement.get_category_display }}</p>
                <p>Создан: {{ response.created_at }}</p>
                {% if not response.accepted %}
                    <form action="{% url 'accept_response' response.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Принять</button>
                    </form>
                    <form action="{% url 'delete_response' response.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Удалить</button>
                    </form>
                {% endif %}
            </li>
        {% empty %}
            <li>Пока откликов нет.</li>
        {% endfor %}
    </ul>
{% endblock %}
